$lightBlue: #e4f1fe;
$midBlue: #2e91ec;
$hoverBoxShadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.45);

body {
  background-color: $lightBlue;
  font-family: Arial, Helvetica, sans-serif;

  .app {
    display: flex;
    justify-content: center;

    .link {
      font-size: 1.35rem;
      text-decoration: none;
      color: black;

      &:hover {
        color: #2e91ec;
      }
    }

    .container {
      width: 85vw;
    }
  }
}
