.navbar {
    .container {
      padding: 10px 0px;
      display: flex;
      justify-content: space-between;
  
      .logo {
        margin-top: 1vh;
        height: 6vh;
      }
  
      span {
        cursor: pointer;
      }
  
      .logout {
          font-weight: bold;
          font-size: 0.95rem;
  
          &:hover {
              color: #d4af37;
            }
      }
    }
  }
  